.list {
  padding: 0 10px 0 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  min-width: 400px;
  max-height: 800px;
  overflow-y: auto;
  box-shadow: 20px 20px 12px 11px #1A1A1A;
  border: 4px #1A1A1A solid;
  border-radius: 5px;
}
.user {
  border-radius: 5px;
  box-shadow: 5px 5px 2px 1px #1A1A1A;
  padding: 15px;
  font-size: 12px;
}
.id, .title, .phone, .email {
  margin: 0;
}
.titleContainer {
  display: flex;
  align-items: center;
  column-gap: 15px;
}